<h1><%= @user.username %></h1>
<%= render '/layouts/user_preview' %>

<%= link_to 'See All Sends', user_sends_path(@user) if @user.sends.any? %><br>
<%= link_to 'Add sends', new_user_send_path(@user) if @user == current_user %>

