<h1>Welcome to Bolderer</h1>

<h3>Log your climbs and check out your friends' progress!</h3>
<hr><br>

<div class="text-center">
  <img src="images/bolderer-homepage.jpg" alt="bouldering" class="rounded">
</div>