<h4>
  <img src="/images/problems_sent.png" alt="checklist" width="30" height="30">
  Problems Sent: <%= @user.sends.count %>
</h4>
<h4>
  <img src="/images/hardest_send.png" alt="hardest grade climbed" width="30" height="30">
  Hardest Send: <%= @user.hardest_send %>
</h4><br>