<h4>
  <%= image_tag "problems_sent.png", class: "image_icon" %>
  Problems Sent: <%= @user.sends.count %>
</h4>
<h4>
  <%= image_tag "hardest_send.png", class: "image_icon" %>
  Hardest Send: <%= @user.hardest_send || "@#{@user.username} has not logged any sends."%> 
</h4><br>